{% extends 'base.html' %}
{% block container %}
<main class="container">
    <h1 class="h3 my-4">Корзина</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row mt-5">
        {% if not is_logged %}
        <div class="col-4">
            <h4 class="">Ваши данные</h4>
            <form action="" method="POST" novalidate>
                {{ form.csrf_token }}
                <div class=" md-4 order-md-1">
                    <div class="mt-3 mb-3">
                        {{ form.name.label }}
                        {{ form.name(class="font-weight-bold form-control") }}
                        {% if form.name.errors %}
                        <p style="color: red;">{{ form.name.errors[0] }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class=" md-4 order-md-1">
                    <div class="mt-3 mb-3">
                        {{ form.adress.label }}
                        {{ form.adress(class="font-weight-bold form-control") }}
                        {% if form.adress.errors %}
                        <p style="color: red;">{{ form.adress.errors[0] }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="md-4 order-md-1">
                    <div class="mt-3 mb-3">
                        {{ form.email.label }}
                        {{ form.email(class="font-weight-bold form-control") }}
                        {% if form.email.errors %}
                        <p style="color: red;">{{ form.email.errors[0] }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class=" md-4 order-md-1">
                    <div class="mt-3 mb-3">
                        {{ form.phone.label }}
                        {{ form.phone(class="font-weight-bold form-control") }}
                        {% if form.phone.errors %}
                        <p style="color: red;">{{ form.phone.errors[0] }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class=" md-4 order-md-1">
                    <div class="mt-3 mb-3">
                        {{ form.password.label }}
                        {{ form.password(class="font-weight-bold form-control") }}
                        {% if form.password.errors %}
                        <p style="color: red;">{{ form.password.errors[0] }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class=" md-4 order-md-1">
                    <div class="mt-3 mb-3">
                        {{ form.password_confirm.label }}
                        {{ form.password_confirm(class="font-weight-bold form-control") }}
                        {% if form.password_confirm.errors %}
                        <p style="color: red;">{{ form.password_confirm.errors[0] }}</p>
                        {% endif %}
                    </div>
                </div>
                {{ form.submit(class="mt-3 mb-5 btn btn-danger") }}
            </form>
        </div>
        {% else %}
        <div class="col-4">
            <div class=" md-4 order-md-1">
                <h4 class="">Добро пожаловать, {{ is_logged[2] }}</h4>
            </div>
            <form class="form-signin pt-5" method="POST" novalidate>
                {{ form.submit(value = 'Сделать заказ', class="mt-3 mb-5 btn btn-danger") }}
            </form>
        </div>
        {% endif %}
        <div class="col-1"></div>
        <div class="col-7">
            <h4 class="mb-3 col-7">Позиций в корзине: {{ cart_items|length }}</h4>
            <table class="table">
                <tbody>
                {% for item in cart_items %}
                <tr>
                    <th scope="row">{{ item.title }}</th>
                    <td></td>
                    <td>1</td>
                    <td>{{ item.price|round(2) }} ₽</td>
                    <td><a class="text-danger" href="/del_from_cart/{{ item.id }}">Удалить</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr>
            <p class="display-4 mx-2 ">{{ summary|round(2) }} ₽</p>
        </div>
    </div>
</main>


{% endblock %}